body {
  height: 100vh;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.row > div {
  margin-bottom: 20px;
}
.jumbotron {
  background-color: #256c2f;
  color: white;
  text-align: center;
}
label {
  font-weight: bold;
}
